$primary-color: #fff;
$yellow: #FFD600;
$primary-font-color: #f50057;
$secondary-color: #FFFDE7;
$link-color: $primary-font-color;
$contrast-color: #fff;
$bg: #f7f7f7;
$dark-bg: darken($bg, 5%);
$grey-bg: #f7f7f7;
$dark-grey: #eee;
$grey-font: #828282;
$gray-button: #999;
$light-grey-color: #999;
